
@{
   ViewBag.Title = "ViewToday";
   Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="page-title">
        <h1>Today</h1>
    </div>
    <div class="main-content-container">
            <div id="trackingItems">
                @{Html.RenderAction("TrackingItems");}
            </div>
            <div id="milestoneItems">
                @{Html.RenderAction("UpcomingMilestones"); }
            </div>
            <div>
                @{Html.RenderAction("MyProjects");}
            </div>
    </div>

